@font-face {
  font-family: "HarryPotter";
  src: url("./HARRYP__.TTF") format("truetype");
}
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}
